<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#"><img class="logo" src="https://portal.form.io/images/formio-logo.png" /></a>
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="home"><i class="fa fa-home"></i></a>
      </li>
      <li class="nav-item" routerLinkActive="form" *ngIf="auth.authenticated">
        <a class="nav-link" routerLink="form"><i class="fa fa-wpforms"></i> Forms</a>
      </li>
      <li class="nav-item" routerLinkActive="user" *ngIf="auth.is.administrator">
        <a class="nav-link" routerLink="employee"><i class="fa fa-users"></i> Employees</a>
      </li>
      <li class="nav-item" routerLinkActive="event" *ngIf="auth.authenticated">
        <a class="nav-link" routerLink="event"><i class="fa fa-calendar"></i> Events</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" *ngIf="!auth.authenticated">
        <a class="nav-link" routerLink="auth">Login | Register</a>
      </li>
      <li class="nav-item" *ngIf="auth.authenticated">
        <a class="nav-link" routerLink="home" (click)="auth.logout()"><span class="glyphicon glyphicon-off"></span> Logout</a>
      </li>
    </ul>
  </div>
</nav>
