<div class="jumbotron text-center">
  <h2 class="title">Welcome to your &lt;<span class="text-blue">form</span>.<span class="text-green">io</span>&gt; + <img src="https://angular.io/assets/images/logos/angular/angular.png" class="hero-image" /> application!</h2>
  <div class="row">
    <div class="col-sm-6 offset-sm-3 text-center">
      <p class="lead">
        This is an example Event Registration application which illustrates how to build a Serverless Application using the Form.io Platform.
      </p>
      <p class="lead">
        You can easily embed your Forms and Resources into this application using.
      </p>
      <div>
        <pre><code>&lt;formio src="https://examples.form.io/example"&gt;&lt;/formio&gt;</code></pre>
      </div>
      <p class="lead">Need Help?</p>
      <a class="btn btn-lg btn-success" target="_blank" href="https://github.com/formio/angular">Embedding</a>
      <a class="btn btn-lg btn-success" target="_blank" href="http://help.form.io">Documentation</a>
    </div>
  </div>
</div>
